/* computer & laptop */
@media only screen and (width <= 1200px) {

    .main-container {
        --doc-width: 80vw;
    }

}

/* tablets */
@media only screen and (width <= 768px) {

    .main-container {
        --doc-width: 90vw;
    }

    .main-menu {
        position: absolute;
        overflow-y: auto;
        right: -35vw;
        top: 0;
        width: 35vw;
        height: 100vh;
        padding-top: 9rem;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: var(--primary-color-transparent);
        backdrop-filter: blur(1rem);
    }

    .main-menu__link, .main-menu > label > span {
        color: var(--emphasys-color);
    }

    .main-menu__link:nth-of-type(1) {
        padding-left: 0;
    }

    .align-right {
        position: absolute;
        right: auto;
        bottom: 4.5rem;
    }

    .align-right > i {
        position: initial;
        right: auto;
    }

}

/* smartphones and smaller screens */
@media (width <= 768px) {

    body {
        font-size: 110%;
    }

    .main-container {
        --doc-width: 100vw;
    }

    .menu-button {
        display: flex;
        visibility: visible;
    }

    .menu-button__icon {
        display: flex;
        visibility: visible;
        cursor: pointer;
    }

    .main-section {
        width: 90vw;
    }

    .footer__section {
        width: 90vw;
    }

    .article-box__title {
        font-size: 1.45em;
    }

    .article-box__content>p {
        line-height: 1.85rem;
    }

    .footer {
        padding: 2rem;
    }

}