/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* body */
body {
    height: 100vh;
    font-size: 100%;
    overflow: hidden;
}

/* main container wrapper */
.main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    /* scroll behavior */
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-scroll-snap-type: y proximity;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

/* header */
.header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: var(--doc-width);
    height: 6rem;
    padding: 2rem 0;
    background-color: var(--primary-color);
}

.main-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2.5rem;
    width: 100%;
    height: 100%;
}

.align-right {
    position: absolute;
    right: 0;
}

.main-menu__link {
    font-family: var(--primary-font);
    font-size: .75em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--secondary-color);
    -o-transition: .15s ease-in;
    transition: .15s ease-in;
    -webkit-transition: .15s ease-in;
    -moz-transition: .15s ease-in;
}

.main-menu__link:nth-of-type(1) {
    padding-left: 4rem;
}

.main-menu__link:hover {
    color: var(--emphasys-color);
}

#header__title {
    position: relative;
    top: 0;
    left: 0;
    color: var(--emphasys-color);
    font-size: 2em;
    font-family: var(--secondary-font);
    text-transform: capitalize;
    font-weight: 700;
}

/* responsive menu */
.menu-button {
    display: none;
    visibility: hidden;
    position: absolute;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    border: none;
    z-index: 1;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
}

.menu-button__icon {
    display: none;
    visibility: hidden;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 2rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.7rem;
    z-index: 1;
    cursor: default;
}

.fa-solid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
}

.fa-bars-staggered {
    opacity: 0;
}

.menu-button:checked~.responsive-menu {
    right: 0vw;
}

.menu-button:checked~.menu-button__icon>.fa-bars-staggered {
    opacity: 1;
}

.menu-button:checked~.menu-button__icon>.fa-bars {
    opacity: 0;
}

.responsive-menu {
    position: absolute;
    overflow-y: auto;
    right: -35vw;
    top: 0;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    width: 35vw;
    height: 100vh;
    background-color: var(--primary-color);
    -webkit-transition: .4s ease-in;
    -o-transition: .4s ease-in;
    transition: .4s ease-in;
}

.aside-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: end;
    padding: 8.7rem 2.7rem 4rem 0;
    gap: 3rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: .8em;
    font-weight: 700;
    font-family: var(--primary-font);
    text-transform: uppercase;
    color: var(--secondary-color);
    -o-transition: .15s ease-in;
    transition: .15s ease-in;
    -webkit-transition: .15s ease-in;
    -moz-transition: .15s ease-in;
}


/* main section */
.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2rem 0 0 0;
}

.main-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: var(--doc-width);
    padding: 0 0 2rem 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* article box */
.article-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 2.5rem;
    color: var(--emphasys-color);
    font-family: var(--secondary-font);
    font-size: 1em;
    text-align: justify;
    background-color: var(--primary-color);
    /* scroll behavior */
    scroll-snap-align: start;
}

.article-box__title {
    font-size: 1.35em;
    font-weight: 700;
}

.article-box__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 2.25rem;
}

.article-box__content>p {
    line-height: 1.7rem;
}

/* capitular */
.article-box__content>p::first-letter {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: .2rem;
    font-size: 4em;
    color: var(--secondary-color);
}

/* footer */
.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    width: 100%;
    padding: 1.25rem 0;
    background-color: var(--secondary-color);
}

.footer__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: var(--doc-width);
    color: var(--emphasys-color);
    font-family: var(--primary-font);
    font-size: .75em;
    font-weight: 600;
    letter-spacing: .03rem;
}