/* body */
body {
    height: 100vh;
    font-size: 100%;
    overflow: hidden;
}

/* main container wrapper */
.main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
    /* scroll behavior */
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-scroll-snap-type: y proximity;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
    /* transition for theme color */
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;        
}

/* go top button */
.totop-btn {
    position: sticky;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row-align: end;
    -ms-grid-column-align: end;
    place-self: end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--emphasys-color);
    color: var(--primary-color);
    bottom: 2rem;
    right: 2rem;
    opacity: .25;
    border-radius: .25rem;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.totop-btn:hover {
    opacity: 1;
}

.totop-btn > i {
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.totop-btn:focus>i {
    -webkit-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    transform: translateY(-20%);
}

/* theme selector */
.theme-selector {
    display: none;
    visibility: hidden;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    z-index: 1;
}

.light-theme {
    opacity: 0;
    visibility: hidden;
}

*:has(.theme-selector:checked) {
    --primary-color: hsl(25, 8%, 16%);
    --emphasys-color: hsl(36, 13%, 92%);
    --primary-color-transparent: hsla(25, 8%, 16%, 70%);
    --emphasys-color-transparent: hsla(36, 13%, 92%, 70%);
}

.theme-selector:checked ~* .dark-theme {
    opacity: 0;
    transition-delay: .2s;
}

.theme-selector:checked ~* .light-theme {
    opacity: 1;
    visibility: visible;
    transition-delay: .2s;
}

span {
    display: flex;
    margin-top: .105rem;
}