/* variables */
:root {

    /* color palette */
    --primary-color: hsl(06, 0%, 92%);
    --secondary-color: hsl(35, 44%, 58%);
    --emphasys-color: hsl(25, 0%, 16%);
    --primary-color-transparent: hsla(06, 0%, 92%, 30%);
    --emphasys-color-transparent: hsla(25, 0%, 16%, 30%);

    /* document width */
    --doc-width: 50vw;

    /* fonts */
    --primary-font: 'Martian Mono', monospace;
    --secondary-font: 'Vollkorn', monospace;
    --decorative-font: 'Inknut Antiqua', serif;

}