/* variables */
:root {

    /* color palette */
    --primary-color: #f6f3ec; /* f0f3f2 */ /* f6f7f4 */
    --secondary-color: #a45c6a; /* be9b73 */ /* 2d3a40 */
    --emphasys-color: #222738; /* 4f586c */ /* 2d9283 */

    /* document width */
    --doc-width: 50vw;

    /* fonts */
    --primary-font: 'Martian Mono', monospace;
    --secondary-font: 'Vollkorn', monospace;

}