@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


:root {
    /* VARIABLES */
    --color-primario: hsl(144, 20%, 53%);
    --color-secundario: hsl(0, 0%, 90%);
    --color-texto: hsl(0, 0%, 22%);
    --fuente: 'Josefin Sans', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    overflow: hidden;
    font-size: 100%;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: var(--color-primario);
}

.card {
    display: flex;
    flex-direction: column;
    width: 40rem;
    min-height: 20rem;
    height: 30rem;
    border-radius: .6rem;
    padding: 2rem;
    background-color: var(--color-secundario);
    box-shadow: 0rem 0rem 5rem rgba(0, 0, 0, .1);
}

.card__header, .card__content, .card__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fuente);
}

.card__header {
    flex-direction: column;
    line-height: 3rem;
    font-size: 2em;
    color: var(--color-texto);
    flex-basis: calc(30rem/3);
}

.card__header > *:last-child {
    text-align: center;
    margin-top: 1rem;
}

.card__header > h6 {
    color: var(--color-primario);
}

.card__content {
    font-size: 1.3em;
    color: var(--color-texto);
    flex-basis: calc(30rem/3);
}

.card__footer {
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: calc(30rem/2);
}

.card__footer > .btn {
    width: 50%;
    height: calc(100% / 2);
    border-radius: .6rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    font-family: var(--fuente);
    font-size: 1.5em;
    color: var(--color-texto);
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.btn:hover {
    border: none;
    background-color: rgba(0, 0, 0, .1);
}

.card__footer > .btn:nth-of-type(3) {
    width: 100%;
    height: calc(100% / 2);
}